@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Epilogue", sans-serif;

  --color-brand-green-light: #c7ebd4;
  --color-brand-green-deep: #163526;
  --color-brand-orange: #934b19;
  --color-brand-card: #f4f4f0;
  --color-brand-bg: #faf9f5;
}

body {
  @apply bg-brand-bg text-brand-green-deep font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}
